/*GENERALI*/
body{
  color: white;
}
.debug{
  border: 1px solid black;
  background-color: coral;
}
.nv_card{
  height: 100px;
}
.nv_container{
  max-width: 60%;
  margin: 0 auto;
}
.nv_black{
  color: black;
}
/*HEADER*/
header{
  height: 90px;
  background-color: #2C3E50;
}
.acqua{
  background-color: #1ABC9C;
}
/*JUMBOTRON*/
.image{
  width: 200px;
}
.barra{
  height: 0;
  border: 2px solid white;
  border-radius: 5px;
  width: 10%;
}
/*MAIN*/
.nv-form input, .nv-form textarea{
  padding-left: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #CCCCCC;
}
.nv-form input::placeholder, 
.nv-form textarea::placeholder{
  color: #2C3E50;  
  font-weight: 500;
}
.nv-form button{
  background-color: #1ABC9C;
  border: none;
}
/*FOOTER*/
.foot-top{
  background-color: #3A546D;
}
.foot-bottom{
  background-color: #2C3E50;
}