/*GENERALI*/
body{
  color: white;
}
.debug{
  border: 1px solid black;
  background-color: coral;
}
.nv_card{
  height: 100px;
}
.nv_container{
  max-width: 60%;
  margin: 0 auto;
}
.nv_black{
  color: black;
}
.white{
  filter: invert(100%);
}
/*HEADER*/
header{
  height: 90px;
  background-color: #2C3E50;
}
.nv_navbar{
  background-color: #2C3E50 !important;
  color: white;
}
.nv_logo{
  color: white;
  font-weight: bold;
}
.nv_ham{
  border-color: #DDDDDD;
}
.menu-lungo{
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.nv_drop{
  background-color: transparent;
  border: none;
}

/*JUMBOTRON*/
.acqua{
  background-color: #1ABC9C;
}
.image{
  width: 200px;
}
.barra{
  height: 0;
  border-radius: 5px;
  width: 10%;
}
.bord_white{
  border: 2px solid white;
}
.bord_black{
  border: 2px solid black;
}

/*MAIN*/
.articolo img{
  width: 100%;
}
.articolo{
  position: relative;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.love{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.love i{
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
.articolo:hover .love{
  display: block;
  cursor: pointer;
}
.love i:active{
  color: red;
}

.nv_riga{
  margin-bottom: 0.1rem !important;
}
.nv-form input, .nv-form textarea{
  padding: 0;
  padding: .5rem 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #CCCCCC;
}
.nv-form input::placeholder, 
.nv-form textarea::placeholder{
  color: #2C3E50;  
  font-weight: 500;
}
.nv-form input:focus,
.nv-form textarea:focus{
  box-shadow: 0 1px 0 0 rgba(13,110,253,.25);
}
.nv-form button{
  background-color: #1ABC9C;
  border: none;
}

/*FOOTER*/
.foot-top{
  background-color: #3A546D;
}
.social .nv_icon{
  border-radius: 50%;
  border: 1px solid white;
  width: 40px;
  height: 40px;
}
.nv_icon a{
  text-decoration: none;  
}
.nv_icon a i{
  color: white;
}
.green_bootstrap{
  color: #1ABC9C;
}
.foot-bottom{
  background-color: #2C3E50;
}
.foot-bottom p{
  margin-bottom: 0;
  font-size: 12px;
}